body{
		margin-bottom:0px;
		margin:0px;
		background-color:#e6e6e6;
		
	}
	#Menu{
		display:flex;
		padding-top:20px;
		margin: auto;
		display:flex;
		
		background-color:white;
		height:50px;
		justify-content:space-around;
		}
	
	#Menu  a{
		
		text-decoration:none;
		font:bold 16px Verdana;
		padding:15px;
		border-bottom: 2px solid transparent;
		margin-left:20px;
		color: #274855;
		height:20px;
	}
	#Menu div{
	
		display:flex;
		justify-content:space-around;
		align-items:center;
		padding :8px;
	}
	#Menu  a:hover{
		border-bottom: 2px solid #cc0000;
		color:#cc0000;
	}
			
	
	#sobremi{
		border:solid black 2px;
		display:grid;
		
		grid-row-gap: 20px;
		justify-content:space-between;
		padding-top:28px;
		padding-bottom:25px;
	}	
	#sobremi div{
		font:20px Verdana;
		width:300px;
		height:100px;
		background-color:#0086b3;
		text-align:center;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	#container1{
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		position:relative;
		overflow:hidden;
		transition:2s;
	}
	#container2{
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		position:relative;
		overflow:hidden;
		transition:2s;
		
	}
	#container1:hover{
		width:800px;
		
		
	}
	#container2:hover{
		width: 800px;
		
	}
	
	#titulo1{
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		position:absolute;
		opacity: 1;
		transition:2s;
	}
	#titulo2{
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		position:absolute;
		opacity: 1;
		transition:2s;
	}
	#container1:hover #titulo{
		opacity:0;	
	}
	#container2:hover #titulo{
		opacity:0;	
	}
	
	#aux1{
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		position:relative;
		display:table;
		transition:2s;
		opacity:0;
		text-align:center;
		width:500px;
	}
	#aux2{
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		position:relative;
		display:table;
		transition:2s;
		opacity:0;
		text-align:center;
		width:500px;
	}
		
	#container1:hover #aux1{
		opacity:1;
	}
	#container2:hover #aux2{
		opacity:1;
	}
